.board{
    margin: 10px auto;
    width: 1500px;
    min-width: 1500px;
    height: 900px;
    min-height: 900px;
    border:2px solid black;
    box-sizing: border-box;
    flex-display: column;
}

.pusher{

}

.puck{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 999999;
    box-sizing: content-box;
    vertical-align: center;
}



@keyframes moveTo {
    from {}
    to   { transform : translate(300px,300px);}
}

.moving{
    animation-name: moveTo;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}
